body {
  overflow: auto;
}
.obj_menu {
  /* display: flex; */
  /* height: 91px; */
  padding: 0 0 5vh 2vh;
}
.content {
  position: relative;
  /* display: flex; */
  height: 8vh;
  width: 20vw;
  text-align: center;
  font-size: 2.5vh;
  background-color: #fff;
  /* padding: 1rem 1rem 1rem 1rem; */
  border-radius: 7px;
}

.title {
  font-size: 1.5rem;
}

.text-middle {
  padding: 1rem 1rem 1rem 1rem;
}

::-moz-selection {
  background: rgba(0, 0, 0, 0.1);
}
::selection {
  background: rgba(0, 0, 0, 0.1);
}
a {
  color: RoyalBlue;
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: CornflowerBlue;
}

/* Circle Avatar Styles */

.circle {
  line-height: 0; /* remove line-height */
  display: inline-block; /* circle wraps image */
  margin: 5px;
  border: 4px solid rgba(200, 200, 200, 0.4);
  border-radius: 50%; /* relative value */
  /*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
  transition: linear 0.25s;
  height: 128px;
  width: 128px;
}
.circle img {
  border-radius: 50%; /* relative value for
				   adjustable image size */
}
.circle:hover {
  transition: ease-out 0.2s;
  border: 4px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: ease-out 0.2s;
}
a.circle {
  color: transparent;
} /* IE fix: removes blue border */

.table-responsive {
  max-height: 500px;
  /* overflow-y: scroll; */
  overflow-x: auto !important;
}
.table-responsive::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 10px; /* Rounded corners of the track */
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #b5b4b4; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners of the thumb */
}

.table-header {
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9; /* Light gray */
}
.form-up {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

#dataTable {
  transition: opacity 0.3s ease;
}

#formAdd.show ~ #dataTable {
  opacity: 0.5;
}
.header-text {
  flex-grow: 1;
}

.close-icon {
  cursor: pointer;
}

:root {
  --header-height: 3rem;
  --nav-width: 80px;
  --first-color: #6fa9f5;
  --first-color-light: #ffffff;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
}

.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav_logo {
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 800;
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}

.nav_link:hover {
  color: var(--white-color);
}

.nav_icon {
  font-size: 1.25rem;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

.active {
  color: var(--white-color);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

.height-100 {
  height: 100vh;
}

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .show-nav {
    width: calc(var(--nav-width) + 156px);
  }
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}
/* CSS Form 2 */

#main-screen-content-order2 .my-btn {
  background-color: #fff;
  border: 1px solid #6fa9f5;
  border-radius: 4px;
  color: #6fa9f5;
  font-weight: normal;
  cursor: pointer;
  text-align: center;
}

#main-screen-content-order2 .my-btn:hover {
  background-color: #6fa9f5;
  border: 1px solid #fff;
  color: #fff;
}

#main-screen-content-order2 .my-btn:focus {
  outline: none;
}

#main-screen-content-order2 form {
  display: flex;
}

#main-screen-content-order2 form .search-input {
  border-radius: 8px;
  border: 1px solid #ced4da;
  color: #495057;
  margin-right: 4px;
}

#main-screen-content-order2 input:focus {
  box-shadow: -0 0 1px 2px #b6d7fa;
  outline: none;
  border: 1px solid #80bdff;
  color: #495057;
  z-index: 1;
}

#main-screen-content-order2 table {
  display: none;
}
