                    /* .col-lg-1 */
/* button image change */
.button{
    position:absolute;
    display: flex;
    z-index: 3;
    top: 42%;
    left: 3%;
    cursor: pointer;
}
#right_button{
    left: 93%;
}

.bg-image{   
    position: absolute;     
    display: flex ;
    /* align-items: flex-end;*/
    width: 100%;
    height: 100%; 
    
}

.intro{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out; 
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    color: white;
    background-position: 50% 50%;
    z-index: 1;
}

.overlay_desc{
    position:absolute;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}

                /* .col-lg-2 */
@media (min-width: 992px){
    .col-lg-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
}
.main_content{
    height: 90vh;
}

.form-pos{
    position: relative;
    /* z-index: 1; */
}

.form-pos .form-control{
    height: 60px;
    /* padding-top: 28px; */
    padding-left: 60px;
}
.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.94rem + 2px);
    padding: 0.47rem 0.75rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #505d69;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.form-pos label{
    position: absolute;
    top: -11px;
    background-color: #fff;
    padding: 0 10px;
    left: 20px;
}
label {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0.5rem;
}
input{
    overflow: visible;
    margin: 0;
    outline-offset: 0;
    border:0;
    width: 100%;
}
form{
    display: block;
    margin-top: 0rem;
}
input:focus {
    outline: none;
 }  

.form-bt{
    margin-bottom: 1rem;
}


.material-symbols-outlined{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 10px;
    font-size: 31px;
    color: #2473DD;
    margin-left: 10px;
}

#iconPassword{
    position: absolute;
    left: 340px; /* Adjust this value as needed */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
}

/* button */
.btn{
    border-radius: 5px;
    padding: 2% 4% 2% 4%;
    font-size: large;
    font-weight:bold;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.msg-ok{
    margin-left: 5%;
    margin-top: 3%;
    color: green;
    font-size: large;
    font-weight: bolder;
    transition: ease-in-out 0.3s;
}

.logout-message {
    margin-left: 5%;
    margin-top: 3%;
    color: blue;
    font-size: large;
    font-weight: bolder;
    transition: ease-in-out 0.3s;
}

.btn:hover{
    background-color: #2473DD !important;
    color: #fff !important;
}
.lgin-btn:hover{
    background-color: #fff !important;
    border: #2473DD solid 1px !important;
    color: #2473DD !important;
}

.remember-me-container {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}

.remember-me-checkbox {
    margin-left: -160px;
    margin-right: -160px;
}

.remember-me-label {
    display: inline-block;
}

.text_muted{
    color: #74788d!important;
    display: flex;
    gap: 7px;
}
#forget{
    font-size: 25px;
    position: static;
    margin-top: 7%;
    color: #74788d!important;

}