body{
    background-color: #6F97FF !important;
}

/* mail_box */
#mail-box{
    font-weight: bold;
    font-size: large;
    border: 1px solid #ddd;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);;
    border-radius: 5px ;
    height: 20vh;
    width: 50vw;
    background: #FFF;
    /* flex-shrink: 0; */
}
.input_container{
    width: 100%;
    padding: 0 5% 0 5%;
}
.mail-input, .pass-input{
    border-radius: 5px;
    border: 2px solid #CED2D6;
    background: #D9E4FF;
    flex-shrink: 0;
    font-size: medium;
    padding: 1%;
    flex: 1;

}
#send_code{
    padding-left: 3%;
    cursor: pointer;
    text-decoration: underline;
}
#send_code:hover{
    color: #2473DD;
}

/* Veri_box */
:where(header){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#veri-box{
    background-color: #fff;
    padding: 30px 60px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    row-gap: 20px;
}

#veri-box header{
    height: 65px;
    width: 65px;
    background-color: #2473DD;
    color: #FFF;
    border-radius: 50%;
}

#veri-box header i{
    font-size: 2.5rem;

}

#veri-box h3{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    margin: inherit;
}

form .input_field{
    flex-direction: row;
    column-gap: 10px;
}

.input_field input{
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.125rem;
    background: #D9E4FF;
}

.input_field input::-webkit-inner-spin-button,
.input_field input::-webkit-outer-spin-button{
    display: none;
}

button{
    margin-top: 25px;
    width: 100%;
    color: #FFF;
    font-size: 1rem;
    border: none;
    padding: 9px 0;
    cursor: pointer;
    border-radius: 6px;
    pointer-events: none;
    background:#6e93f7;
    transition: all 0.2s ease;
}
button.active{
    background: #4070f4;
    pointer-events: auto;
}

button:hover{
    background: #0e4bf1;
}

/* reset-pass */
#reset-pass{
    font-weight: bold;
    font-size: large;
    border: 1px solid #ddd;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);;
    border-radius: 5px ;
    height: 25vh;
    width: 50vw;
    background: #FFF;
    /* flex-shrink: 0; */
}

#reset-pass button{
    height: auto;
    width: auto;
    padding: 10px 10px;
    margin-top: 0%;
    font-weight: bold;
}
