<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="${_csrf.token}"/>
    <meta name="csrf-param" content="${_csrf.parameterName}"/>
    <title>Home - Pocket Garage</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link  rel="stylesheet" th:href="@{/css/style.css}"/><!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.min.css">
    <link rel="stylesheet" th:href="@{/css/home.css}"/>

    <style>
        th{
            color: #FFF;
            background-color: #6fa9f5;
            cursor: pointer;
        }
        .hidden{
            display: none;
        }
        .show{
            display: block;
        }
    </style>
</head>

<body id="body-pd">
<div class="container-lg p-0">
    <!-- <div class="row no-gutters p-5"> -->
    <header class="header" id="header">
        <div id="main-screen-header" class="col" style="margin: 0;box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); margin: 0;">
            <div class="row align-items-center">

                <div class="header_toggle" style="padding: 1rem;">
                    <i class='bx bx-menu' id="header-toggle">
                        <span id="menu-open" class="material-symbols-outlined show">menu</span>
                        <span id="menu-close" class="material-symbols-outlined hidden">close</span>
                    </i>
                </div>
                <!-- <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div> -->

                <div class="col text-center" style="font-size: 2rem; padding: 1rem; font-weight: bolder;">Order Management</div>
                <div class="col-lg-2 d-flex align-items-center">
                    <i class="material-symbols-outlined" style="font-size: 2rem;">settings_heart</i>
                    <div style="width: 1vw;"></div>
                    <span>Hello <span th:text="${session.name}" style="color: #0e4bf1"></span></span>
                </div>
            </div>
        </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <img class='bx bx-layer nav_logo-icon' src="/images/logo-house.png" height="50" alt="logo">
                    <span class="nav_logo-name">Pocket Garage</span>
                </a>
                <div class="nav_list">
                    <a href="#" class="nav_link">
                        <i class='bx bx-order-alt nav_icon'>
                            <span class="material-symbols-outlined show">list_alt</span>
                        </i>
                        <span class="nav_name" id="orderMenu" onclick="">Customers' Ordering</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-user nav_icon'>
                            <span class="material-symbols-outlined">directions_car</span>
                        </i>
                        <span class="nav_name" id="vehicleMenu">Vehicles' List</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-message-square-detail nav_icon'>
                            <span class="material-symbols-outlined">list_alt</span>
                        </i>
                        <span class="nav_name">Messages</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-bookmark nav_icon'>
                            <span class="material-symbols-outlined">list_alt</span>
                        </i>
                        <span class="nav_name">Bookmark</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-folder nav_icon'>
                            <span class="material-symbols-outlined">list_alt</span>
                        </i>
                        <span class="nav_name">Files</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-bar-chart-alt-2 nav_icon'>
                            <span class="material-symbols-outlined">list_alt</span>
                        </i>
                        <span class="nav_name">Stats</span>
                    </a>
                </div>
            </div>
            <a href="/logout" class="nav_link">
                <span class="material-symbols-outlined">logout</span>
                <span class="nav_name">SignOut</span>
            </a>
        </nav>
    </div>

    <div id="main-screen" class="col-lg height-100 bg-light">
        <dialog id="dialog">
            <h2 id="dialogTitle"></h2>
            <p id="dialogContent"></p>
        </dialog>

        <!-- Biểu mẫu 1 -->
        <div id="main-screen-content-order">
            <!-- DATA TABLE -->
            <div class="container" id="dataTable" style="z-index: 0;">
                <div class="row">
                    <div class="col">
                        <div class="card-body">
                            <input id="search-input" class="form-control" type="text" placeholder="Search by customer's name">
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col" style="overflow-x: auto;">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead class="table-header">
                                <tr>
                                    <th data-column="Name" data-order="desc" rowspan="3">Name &#9650</th>
                                    <th data-column="Phone" data-order="desc" rowspan="3">Phone Number &#9650</th>
                                    <th data-column="Email" data-order="desc" rowspan="3">Email &#9650</th>
                                    <th data-column="Address" rowspan="3">Address</th>
                                    <th data-column="Order" data-order="desc" colspan="2">Order details </th>
                                    <!-- <th data-column="Vehicle brand" data-order="desc">Brand &#9650</th>
                                    <th data-column="Date" data-order="desc">Date &#9650</th> -->
                                    <th data-column="Change" rowspan="3">Change</th>
                                </tr>
                                <tr>
                                    <!-- <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th> -->
                                    <th data-column="Brand">Vehicle's brand</th>
                                    <th data-column="License">Vehicle's license number</th>
                                    <!-- <th></th> -->
                                </tr>
                                </thead>
                                <tbody id="myTable"></tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end" style="padding: 1rem;">
                    <div class="col-auto d-grid">
                        <button id="addData" class="btn btn-success btn-md" style="width: 100px;">Add</button>
                    </div>
                </div>
            </div>
            <!-- FORM ADD -->
            <div class="formAdd container form-up hidden" id="formAdd">
            <div>
                <div class="card" style=" padding-left:0 ;padding-right: 0;">
                    <div class="card-header d-flex justify-content-between">
                        <span class="header-text">Add Order</span>
                        <span class="material-symbols-outlined" id="closeForm_1"  style="cursor: pointer;">close</span>
                    </div>
                    <div class="card-body" style="padding-bottom: 1rem;">
                        <form id="add-form" th:action="@{/add-form1}" method="POST">
                            <div class="form-group">
                                <label for="addName" class="form-label">Name</label>
                                <input type="text" name="name" class="form-control" id="addName" placeholder="Customer's name" required>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="addPhone" class="form-label">Phone</label>
                                    <input type="tel" name="phone" class="form-control" id="addPhone" placeholder="Customer's phone number" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="addEmail" class="form-label">Email address</label>
                                    <input type="email" name="email" class="form-control" id="addEmail" placeholder="Customer's email address" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="addAddress" class="form-label">Address</label>
                                <input type="text" name="address" class="form-control" id="addAddress" placeholder="Customer's address" required>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="addVeID" class="form-label">Vehicle's license number</label>
                                    <input type="text" name="vehicleLicenseNumber" class="form-control" id="addVeID" placeholder="Vehicle's license number" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="addBrand" class="form-label">Vehicle's brand</label>
                                    <input id="addBrand" name="vehicleBrand" class="form-control" placeholder="Vehicle's brand" required>
                                    <!--                                        <option value="" disabled selected>Choose...</option>-->
                                    <!--                                        <option value="Toyota">Toyota</option>-->
                                    <!--                                        <option value="Suzuki">Suzuki</option>-->
                                    <!--                                        <option value="Ford">Ford</option>-->
                                    <!--                                        <option value="Yamaha">Yamaha</option>-->
                                    <!--                                        <option value="Honda">Honda</option>-->
                                    <!--                                    </select>-->
                                </div>
                            </div>
                            <div class="row justify-content-end" style="width: 100%; padding-bottom: 1rem;">
                                <input class="btn btn-md btn-primary" type="submit" value="Submit form">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <!-- FORM DETAILS -->
            <div class="formAdd container custom-container form-up hidden" id="formDetails" style="width: 1500px;">
            <div class="card" style=" padding-left:0 ;padding-right: 0;">
                <div class="card-header d-flex justify-content-between">
                    <span class="header-text">Add Details</span>
                    <span class="material-symbols-outlined" id="closeForm"  style="cursor: pointer;">close</span>
                </div>
                <div class="card-body row" style="padding-bottom: 1rem;">
                    <!-- Left Form -->
                    <div class="col-md-5">
                        <form>
                            <!-- Sub form 1: Vehicle and Date -->
                            <form class="vehicle">
                                <div class="form-group">
                                    <label for="addDate" class="form-label">Date</label>
                                    <input type="date" class="form-control" id="addDate" placeholder="ordering date" required>
                                </div>

                                <!-- --------Button create -------- -->
                                <div class="row justify-content-end" style="width: 100%; padding-bottom: 1rem;">
                                    <button class="btn btn-md btn-primary btn-success" id="confirm-create" >Create Order</button>
                                </div>
                            </form>

                            <!-- Sub form 2: Equipment -->
                            <form class="fixObjectForm">
                                <div class="form-group">
                                    <label for="addDetails" class="form-label">Notes</label>
                                    <input type="text" class="form-control" id="addDetails">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="addEquip" class="form-label">Equipment</label>
                                        <select class="form-control" id="addEquip" required>
                                            <option selected>Choose Equipment</option>
                                            <option>Wheels</option>
                                            <option>Glass</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="quantity">Quantity</label>
                                        <input type="number" class="form-control" id="quantity" required>
                                    </div>
                                    <div class="form-group col-md-4 ">
                                        <label for="price">Price</label>
                                        <input type="text" class="form-control" id="price" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="charge">Charge price</label>
                                        <input type="text" class="form-control" id="charge" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="totalPrice">Total</label>
                                        <input type="text" class="form-control" id="totalPrice" disabled>
                                    </div>
                                </div>

                                <!-- -------------Add equipment button------- -->
                                <div class="row justify-content-end" style="width: 100%; padding-bottom: 1rem;">
                                    <button class="btn btn-md btn-primary btn-success" type="submit">Add Equipment</button>
                                </div>
                            </form>
                        </form>
                    </div>
                    <!-- ---------Right interactive table-------- -->
                    <div class="col-md-7">
                        <div class="table-responsive custom-table">
                            <table class="table table-striped table-bordered">
                                <thead class="table-header">
                                <tr>
                                    <th data-column="IdVe" data-order="desc" rowspan="2">ID Vehicle &#9650</th>
                                    <th data-column="Date" data-order="desc" rowspan="2">Date &#9650</th>
                                    <th data-column="Details" colspan="6">Details</th>
                                </tr>
                                <tr>
                                    <th data-column="Notes">Notes</th>
                                    <th data-column="Equipment">Equipment</th>
                                    <th data-column="Quantities">Quantities</th>
                                    <th data-column="Price">Price</th>
                                    <th data-column="Charge">Charge</th>
                                    <th data-column="totalPrice">Total Price</th>
                                </tr>
                                </thead>
                                <tbody id="detailsTable"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.min.js"></script>
<script type="text/javascript" th:src="@{/js/home.js}"></script>
<script type="text/javascript" th:src="@{/js/form2.js}"></script>
<script type="text/javascript" th:src="@{/js/all.js}"></script>
</body>

</html>