<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Verification - Pocket Garage</title>
    <link  rel="stylesheet" th:href="@{/css/style.css}" />
    <link  rel="stylesheet" th:href="@{/css/password.css}" />

</head>

<body>
<div class="container-lg p-0">
    <div class="scrollbar_content p-4 min-vh-100 d-flex">
        <div class="w-100">
            <div class="column align-items-center">
                <div class="logo-area">
                    <a class="logo">
                        <img src="/images/logo_white.png" height="150" alt="logo">
                    </a>
                </div>

                <dialog id="dialog">
                    <h2 id="dialogTitle"></h2>
                    <p id="dialogContent"></p>
                </dialog>

                <div class="gap-10">
                </div>

                <!-- Mail Box -->
                <div id="mail-box" class="row align-items-center justify-content-center" style="display: flex;">
                    <h3 style="margin: 2% 0 0 0;"> Enter your mail and we will send you a verification code</h3>
                    <div class="input_container justify-content-center align-items-center row">
                        <input class="mail-input" type="email" id="mail" style="height: 40%; width: 80%;" required>
                        <a id="send_code" onclick="sendCode()">Send code</a>
                    </div>
                </div>

                <!-- Enter Code -->
                <div id="veri-box" class="column align-items-center justify-content-center" style="display: none;">
                    <header>
                        <i class="material-symbols-outlined">verified_user</i>
                    </header>
                    <h4>Enter Verification Code</h4>
                    <form action="#">
                        <div class="input_field">
                            <input type="number" />
                            <input type="number" disabled />
                            <input type="number" disabled />
                            <input type="number" disabled />
                        </div>
                        <button id="verify" onclick="checkOTP()">Verify code</button>
                    </form>
                </div>

                <!-- Reset Password -->
                <div id="reset-pass" class="row align-items-center justify-content-center" style="display: none;">
                    <h3 style="margin: 1% 0 0 0;"> Reset your password</h3>
                    <div class="input_container ">
                        <div class="row justify-content-center align-items-center">
                            <h4 style="margin: 0 8% 0 0;">New password</h4>
                            <input class="pass-input" type="password" id="password" style="height: 20%; width: 80%;" oninput="checkPasswordMatch()" required>
                        </div>
                        <div class="gap-2"></div>
                        <div class="row justify-content-center align-items-center">
                            <h4 style="margin: 0 4% 0 0;">Confirm password</h4>
                            <input class="pass-input" type="password" id="password_re" style="height: 20%; width: 80%;" oninput="checkPasswordMatch()" required>
                        </div>
                    </div>
                    <div class="column"></div>
                    <div class="msg" id="passwordMatchMessage" style="display: none"></div>
                    <button id="confirm" class="active" onclick="resetPassword()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" th:src="@{/js/all.js}" defer></script>
<script type="text/javascript" th:src="@{/js/password.js}" defer></script>
</body>
</html>
