<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.w3.org/1999/xhtml"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="csrf-token" content="${_csrf.token}" />
    <meta name="csrf-param" content="${_csrf.parameterName}" />
    <title>from6</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap JS và jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- DataTables CSS -->
    <link
      href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"
      rel="stylesheet"
    />
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <!-- SweetAlert -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />

    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <style>
      th {
        color: #fff;
        background-color: #6fa9f5;
        cursor: pointer;
      }
      .hidden {
        display: none;
      }
      .show {
        display: block;
      }
      .main-screen-content-order .container {
        background-color: #f8f9fa;
      }
      #rule-1 .card {
        background-color: #6fa9f5;
      }
      #rule-1 h3 {
        color: #f8f9fa;
        display: flex;
        justify-content: center;
        margin: 8px 0 8px 0;
      }
      #rule-1 .row {
        margin: 10px 0 0 0;
      }
      #rule-1 .row .col {
        display: flex;
        align-items: center;
      }
      #rule-1 label {
        color: #6fa9f5;
        font-weight: bold;
        font-size: 17px;
        margin-right: 10px;
      }
      #rule-1 input {
        flex-grow: 1;
        border-width: 1px;
        border-radius: 5px;
      }
      #rule-1 input:focus {
        outline: none;
        box-shadow: 0 0 5px 2px #7eb6ff;
        border-color: #6fa9f5;
      }
      .disabled-button {
        /* background-color: #cccccc; Màu xám */
        /* color: #666666; Màu chữ xám */
        cursor: not-allowed; /* Thay đổi con trỏ khi rê chuột */
      }

      #rule-1 #delete-brand {
        margin-left: 10px;
      }
      #rule-1 #change-limits {
        margin-left: 10px;
      }
      #rule-1 .card .row .col lable[for="max-repairs"] {
        font-size: 15px;
      }
      #rule-2.container {
        margin-top: 50px;
      }
      #rule-1 .row {
        margin-top: 45px;
      }
    </style>
  </head>
  <body id="body-pd">
    <div class="container-lg p-0">
      <header class="header" id="header">
        <div
          id="main-screen-header"
          class="col d-flex align-items-center justify-content-between"
          style="
            margin: 0;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            padding: 0 1rem;
          "
        >
          <div
            class="header_toggle d-flex align-items-center"
            style="padding: 1rem"
          >
            <i class="bx bx-menu" id="header-toggle">
              <span id="menu-open" class="material-symbols-outlined show"
                >menu</span
              >
              <span id="menu-close" class="material-symbols-outlined hidden"
                >close</span
              >
            </i>
          </div>

          <div class="text-center" style="font-size: 2rem; font-weight: bolder">
            Policy
          </div>

          <div class="d-flex align-items-center">
            <i class="material-symbols-outlined" style="font-size: 2rem"
              >settings_heart</i
            >
            <div style="width: 1vw"></div>
            <span
              >Hello
              <span style="color: royalblue" th:text="${session.name}"></span
            ></span>
          </div>
        </div>
      </header>

      <div class="l-navbar" id="nav-bar">
        <nav class="nav">
          <div>
            <a href="#" class="nav_logo">
              <img
                class="bx bx-layer nav_logo-icon"
                src="/images/logo-house.png"
                height="50"
                alt="logo"
              />
              <span class="nav_logo-name">Pocket Garage</span>
            </a>
            <div class="nav_list">
              <a href="/home" class="nav_link">
                <i class="bx bx-order-alt nav_icon">
                  <span class="material-symbols-outlined show">list_alt</span>
                </i>
                <span class="nav_name" id="orderMenu" onclick=""
                  >Customers Orders</span
                >
              </a>
              <a href="/vehicle" class="nav_link">
                <i class="bx bx-user nav_icon">
                  <span class="material-symbols-outlined">directions_car</span>
                </i>
                <span class="nav_name" id="vehicleMenu">Vehicles</span>
              </a>
              <a href="/report" class="nav_link">
                <i class="bx bx-message-square-detail nav_icon">
                  <span class="material-symbols-outlined">monitoring</span>
                </i>
                <span class="nav_name" id="statisticalMenu"
                  >Statistical Report</span
                >
              </a>
              <a href="/policy" class="nav_link">
                <i class="bx bx-bookmark nav_icon">
                  <span class="material-symbols-outlined">policy</span>
                </i>
                <span class="nav_name" id="policyMenu">Policy</span>
              </a>
            </div>
          </div>
          <a href="/logout" class="nav_link">
            <span class="material-symbols-outlined">logout</span>
            <span class="nav_name">SignOut</span>
          </a>
        </nav>
      </div>
      <div id="main-screen" class="col-lg height-100 bg-light">
        <dialog id="dialog">
          <h2 id="dialogTitle"></h2>
          <p id="dialogContent"></p>
        </dialog>
        <div class="main-screen-content-order" style="margin-top: 75px">
          <div class="container">
            <div class="container" id="rule-1">
              <div class="card">
                <h3>CHANGING THE POLICIES</h3>
              </div>
              <div
                class="row"
                style="border: 1px solid #c9c9c9; border-radius: 5px"
              >
                <div class="col">
                  <label for="brands-list"> BRANDS REMOVE</label>
                  <select
                    name="brands"
                    id="brands-list"
                    class="form-control"
                    value=""
                  ></select>
                  <button class="btn btn-primary" id="delete-brand" disabled>
                    Delete
                  </button>
                </div>
                <div class="col">
                  <label for="max-repairs">MAXIMUM REPAIRS PER DAY</label>
                  <input type="number" id="max-repairs" min="0" />
                  <button class="btn btn-primary" id="change-limits">
                    Accept
                  </button>
                </div>
              </div>
            </div>
            <div class="container" id="rule-2">
              <div class="row">
                <div class="col">
                  <button
                    class="form-control btn btn-primary"
                    id="allPartsTableBtn"
                  >
                    All Parts
                  </button>
                </div>
                <div class="col">
                  <button
                    class="form-control btn btn-primary"
                    id="allServiceTableBtn"
                  >
                    All Service
                  </button>
                </div>
              </div>
              <div
                class="container"
                style="
                  margin-top: 20px;
                  border: 1px solid #c9c9c9;
                  border-radius: 5px;
                  padding: 5px;
                  height: 700px;
                "
              >
                <div
                  class="container"
                  id="allPartsSection"
                  style="max-height: 100%; height: 93%"
                >
                  <div
                    class="modal fade"
                    id="confirmDeletedPartModal"
                    tabindex="-1"
                    aria-labelledby="confirmDeleteLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="confirmDeleteLabel">
                            Confirm Delete
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete this part?
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                          >
                            Cancel
                          </button>
                          <button
                            type="button"
                            class="btn btn-danger"
                            id="confirmDeletePartButton"
                          >
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="table-responsive"
                    style="max-height: 100%; height: 100%"
                  >
                    <table
                      class="table table-striped table-bordered"
                      id="allPartsTable"
                    >
                      <thead class="table-header">
                        <tr>
                          <th>Name of parts</th>
                          <th>Price</th>
                          <th>Remove</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                  <div class="row justify-content-end" style="width: 100%">
                    <button
                      class="btn btn-primary"
                      id="addPart"
                      style="background-color: #28a745; margin-top: 5px"
                    >
                      Add
                    </button>
                  </div>
                  <div
                    class="form-add container form-up fade hidden"
                    id="formAddPart"
                  >
                    <div>
                      <div
                        class="card form-add"
                        style="padding-left: 0; padding-right: 0"
                      >
                        <div class="card-header d-flex justify-content-between">
                          <span class="header-text">Add Part</span>
                          <span
                            class="material-symbols-outlined"
                            id="closeFormAddPart"
                            style="cursor: pointer"
                            >close</span
                          >
                        </div>
                        <div class="card-body" style="padding-bottom: 1rem">
                          <form th:action="@{/add-part}" method="POST">
                            <div class="form-group">
                              <div class="form-row">
                                <div class="col-md-6">
                                  <label for="partName" class="form-label"
                                    >Part name</label
                                  >
                                  <input
                                    type="text"
                                    id="partName"
                                    name="partName"
                                    class="form-control"
                                    value=""
                                    placeholder="Input part name"
                                    required
                                  />
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="price" class="form-label"
                                    >Price</label
                                  >
                                  <input
                                    type="number"
                                    step="0.001"
                                    id="price"
                                    name="price"
                                    class="form-control"
                                    value=""
                                    min="0"
                                    placeholder="Input part price"
                                    required
                                  />
                                </div>
                                <div class="form-group col-md-6">
                                  <label
                                    for="number_initialized"
                                    class="form-label"
                                    >Amount</label
                                  >
                                  <input
                                    type="number"
                                    id="number_initialized"
                                    name="amount"
                                    class="form-control"
                                    value=""
                                    min="1"
                                    placeholder="Input part intial amount"
                                    required
                                  />
                                </div>
                              </div>
                            </div>
                            <div
                              class="row justify-content-end"
                              style="width: 100%; padding-bottom: 1rem"
                            >
                              <input
                                type="submit"
                                class="btn btn-primary"
                                value="Submit"
                              />
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="container"
                  id="allServiceSection"
                  style="max-height: 100%; height: 93%"
                >
                  <div
                    class="modal fade"
                    id="confirmDeletedServiceModal"
                    tabindex="-1"
                    aria-labelledby="confirmDeleteLabel_1"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="confirmDeleteLabel_1">
                            Confirm Delete
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete this service?
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                          >
                            Cancel
                          </button>
                          <button
                            type="button"
                            class="btn btn-danger"
                            id="confirmDeleteServiceButton"
                          >
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="table-responive"
                    style="max-height: 100%; height: 100%"
                  >
                    <table
                      class="table table-striped table-bordered"
                      id="allServiceTable"
                    >
                      <thead class="table-header">
                        <tr>
                          <th>Name of service</th>
                          <th>Cost</th>
                          <th>Remove</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                  <div class="row justify-content-end" style="width: 100%">
                    <button
                      class="btn btn-primary"
                      id="addService"
                      style="background-color: #28a745; margin-top: 5px"
                    >
                      Add
                    </button>
                  </div>
                  <div
                    class="form-add container form-up fade hidden"
                    id="formAddService"
                  >
                    <div>
                      <div
                        class="card form-add"
                        style="padding-left: 0; padding-right: 0"
                      >
                        <div class="card-header d-flex justify-content-between">
                          <span class="header-text">Add Service</span>
                          <span
                            class="material-symbols-outlined"
                            id="closeFormAddService"
                            style="cursor: pointer"
                            >close</span
                          >
                        </div>
                        <div class="card-body">
                          <form action="/add-service" method="POST">
                            <div class="form-group">
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="serviceName" class="form-label"
                                    >Service name</label
                                  >
                                  <input
                                    class="form-control"
                                    type="text"
                                    id="serviceName"
                                    name="serviceName"
                                    value=""
                                    placeholder="Input service name"
                                    required
                                  />
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="serviceCost" class="form-label"
                                    >Price</label
                                  >
                                  <input
                                    class="form-control"
                                    type="number"
                                    step="0.001"
                                    id="serviceCost"
                                    name="serviceCost"
                                    value=""
                                    min="0"
                                    placeholder="Input service cost"
                                    required
                                  />
                                </div>
                              </div>
                            </div>
                            <div
                              class="row justify-content-end"
                              style="width: 100%; padding-bottom: 1rem"
                            >
                              <input
                                type="submit"
                                class="btn btn-primary"
                                value="Submit"
                                style="text-align: right"
                              />
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Script -->
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    ></script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
    <script
      defer
      src="//cdn.datatables.net/2.0.8/js/dataTables.min.js"
    ></script>
    <script
      defer
      src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap4.js"
    ></script>
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <!-- Script tự viết -->
    <script type="text/javascript" th:src="@{/js/change_policy.js}"></script>
  </body>
</html>
