<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Pocket Garage</title>
    <link  rel="stylesheet" th:href="@{/css/register.css}" />
    <script type="text/javascript" th:src="@{/js/register.js}"></script>
</head>
<body>

<div class="container-lg p-0">
    <div class="row no-gutters">
        <div class ="col-lg-1">
            <div class="bg-image">

                <!-- buttons -->
                <div class="button" id="left_button" onclick="prevImage()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="53" viewBox="0 0 38 53" fill="none">
                        <mask id="mask0_78_8" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="38" height="53">
                            <path d="M37.6871 52.2933L-9.26026e-06 52.2933L-9.26026e-06 -1.43051e-06L37.6871 -1.43051e-06L37.6871 52.2933Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_78_8)">
                            <path d="M0.134147 26.4018C0.206605 28.0823 1.20046 29.5321 2.4254 30.4088C12.0761 37.3551 21.7248 44.3069 31.3784 51.2477C32.4936 52.0736 33.9105 52.5771 35.2275 52.1123C36.8372 51.5944 37.6754 49.6268 37.6127 47.8469C37.6274 33.4132 37.6235 18.9818 37.6353 4.54808C37.6539 2.97575 37.0673 1.23448 35.7464 0.511251C34.3776 -0.284853 32.7247 0.189939 31.49 1.08321C21.8325 8.00523 12.1769 14.9361 2.52038 21.8614C1.13877 22.8055 0.0127302 24.5114 0.134147 26.4018Z" fill="white" fill-opacity="0.48"/>
                        </g>
                    </svg>
                </div>
                <div class="button" id="right_button" onclick="nextImage()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="53" viewBox="0 0 38 53" fill="none">
                        <mask id="mask0_78_13" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="38" height="53">
                            <path d="M0 0H37.6871V52.2933H0V0Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_78_13)">
                            <path d="M37.553 25.8916C37.4805 24.211 36.4867 22.7613 35.2617 21.8846C25.6111 14.9382 15.9624 7.98641 6.30876 1.04562C5.19349 0.219705 3.77663 -0.283795 2.45965 0.181059C0.849902 0.698913 0.0117353 2.66654 0.074402 4.44646C0.0597144 18.8801 0.0636311 33.3116 0.0518811 47.7453C0.0332772 49.3176 0.619798 51.0589 1.94069 51.7821C3.30957 52.5782 4.9624 52.1034 6.19713 51.2101C15.8547 44.2881 25.5102 37.3572 35.1668 30.4319C36.5484 29.4879 37.6744 27.7819 37.553 25.8916Z" fill="white" fill-opacity="0.48"/>
                        </g>
                    </svg>
                </div>

                <div class="intro" id="image_0" style="background-image: url('/images/carpic1.jpg'); opacity: 1;">
                    <div class="overlay_desc">
                        <h1 id="title_bg1" style="margin: 2vh">About us</h1>
                        <p style="margin: 2vh">Introducing PocketGarage, your go-to platform for seamless car management and repair services. Designed with convenience in mind, PocketGarage offers a comprehensive suite of tools to streamline the upkeep of your vehicle. From scheduling routine maintenance to accessing trusted repair shops in your area, PocketGarage puts control back into the hands of car owners. With its user-friendly interface and intuitive features, managing your car's health has never been easier. Say goodbye to the hassle of endless paperwork and unreliable mechanics – PocketGarage is here to ensure your car stays in top condition, effortlessly.</p>
                    </div>
                </div>
                <div class="intro" id="image_1" style="background-image: url('/images/carpic2.jpg'); opacity: 0;">
                    <div class="overlay_desc">
                        <h1 id="title_bg2" style="margin: 2vh">Effectiveness</h1>
                        <p style="margin: 2vh">With its pocketable design and unmatched convenience, PocketGarage puts the control of your vehicle right in the palm of your hand. Whether you're on a road trip or navigating the daily commute, access vital car information, schedule repairs, and track maintenance effortlessly. Say hello to a world where managing your car is as easy as reaching into your pocket – with PocketGarage, your car's upkeep has never been more convenient.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="scrollbar_content p-4 min-vh-100 align-items-center d-flex">
                <div class="w-100">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="main_content">
                                <div class="logo-area">
                                    <a class="logo">
                                        <img src="/images/logo.png" height="150" alt="logo">
                                    </a>
                                </div>
                                <div class="p-2 mt-5">

                                    <form class="form-horizontal" id="registrationForm" method="POST" autocomplete="off" th:action="@{/register}">
                                        <!--Phone Number-->
                                        <div class="form-pos row form-bt focused">
                                            <div class="col-md-2">
                                                <i class="material-symbols-outlined" > phone_in_talk </i>
                                                <label for="username" style="z-index: 111;">Phone Number</label>
                                                <input type="text" class="form-control" id="username" name="username" th:value="${username}" required>
                                            </div>
                                        </div>
                                        <div id="username_used" th:text="${username_used}"  class="msg form-bt" style="display: none"></div>


                                        <!-- email -->
                                        <div class="form-pos row form-bt focused">
                                            <div class="col-md-2">
                                                <i class="material-symbols-outlined norm" > mail </i>
                                                <label for="username" style="z-index: 111;">Email</label>
                                                <input type="email" class="form-control" id="email" name="email" th:value="${email}" required>
                                            </div>
                                        </div>
                                        <div id="email_used" th:text="${email_used}"  class="msg form-bt" style="display: none"></div>

                                        <!-- Password-->
                                        <div class="form-pos row form-bt focused">
                                            <div class="col-md-2">
                                                <i class="material-symbols-outlined norm" > lock </i>
                                                <label for="username" style="z-index: 111;">Password</label>
                                                <input type="password" class="form-control" id="password" oninput="checkPasswordMatch()" name="password" required>
                                            </div>
                                        </div>

                                        <div class="form-pos row form-bt focused">
                                            <div class="col-md-2">
                                                <i class="material-symbols-outlined norm" > lock </i>
                                                <label for="username" style="z-index: 111;">Confirm password</label>
                                                <input type="password" class="form-control" id="password_re" name="re-password" oninput="checkPasswordMatch()" required>
                                            </div>
                                        </div>
                                        <div class="msg form-bt" id="passwordMatchMessage" style="display: none"></div>
<!--                                        Confirm button-->
                                        <input type="hidden" th:name="_csrf" th:value="${_csrf.token}" />
                                        <div class="mt-4 text-center" style="display: flex; justify-content: center;">
                                            <div style="width: 20px;"></div>
                                            <button class="btn lgin-btn" style="color:white;background-color: #2473DD; border: 1px solid #fff;" type="submit">Confirm</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>